<!-- greeting-component.html -->
<div class="navbar">
    <div class="navbar-content">
        <h1>Hola de nuevo, Christian</h1>
        <div class="profile-link" (click)="goToProfile()">
            <img src="path_to_profile_image.jpg" alt="Profile" class="profile-img">
        </div>
    </div>
</div>
<div class="greeting-container">
    <div class="cards-container">
        <div class="card" *ngFor="let habit of habits">
            <img src="{{habit.imageUrl}}" alt="{{habit.name}}">
            <h2>{{habit.name}}</h2>
            <p>{{habit.description}}</p>
            <label>
                <input type="checkbox" name="item-check" />
                Seleccionar
            </label>
        </div>
    </div>
</div>
