<!-- greeting-component.html -->
<div class="navbar">
    <div class="navbar-content">
        <h1>Hola de nuevo, {{userName}}</h1>
        <button (click)="goToCreateHabit()">Add habit</button>
        <div class="profile-link" (click)="goToProfile()">
            <p>Perfil</p>
        </div>
    </div>
</div>
<div class="greeting-container">
    <div class="cards-container">
        <div class="card" *ngFor="let habit of habits">
            <div class="card-header">
                <h2>{{habit.habitName}}</h2>
            </div>
            <div class="card-body">
                <p>{{habit.habitDescription}}</p>
                <p class="frequency">Frecuencia semanal: {{ habit.habitFrequency }}</p>
            </div>
            <div class="card-footer">
                <label class="custom-checkbox">
                    <input type="checkbox" name="item-check" />
                    <span class="checkmark"></span>
                    Terminado
                </label>
            </div>
        </div>
    </div>
</div>
