<div class="user-profile-container">
    <h2>Edit profile</h2>

    <div class="profile-photo-section">
        <img [src]="getImageUrl()" alt="Profile photo">
        <div>
            <p>Upload your photo</p>
            <p>Your photo should be in PNG or JPG format</p>
            <input (change)="onChangeFile($event)" type="file">
            <button (click)="handleSendFile()">Change image</button>
        </div>
    </div>

    <div class="user-details">
        <label>Full name</label>
        <p>{{ user.fullName }}</p>

        <label>Email</label>
        <p>{{ user.email }}</p>
    </div>

    <div class="actions">
        <button (click)="goToHabits()">Go back</button>
    </div>
</div>