<div class="register-container">
    <div class="form-container">
        <h2>Create an account</h2>
        <form>
            <input type="text" placeholder="Full name">
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <button type="submit">Sign in</button>
            <p>Or sign in with</p>
            <div class="social-icons">
                <a href="#"><img src="./../../assets/google-icon.png" alt="Google"></a>
                <a href="#"><img src="./../../assets/facebook-icon.png" alt="Facebook"></a>
                <a href="#"><img src="./../../assets/instagram-icon.png" alt="Instagram"></a>
            </div>
        </form>
    </div>
    <div class="image-container">
        <img src="./../../assets/register-image.png" alt="Registration">
    </div>
</div>