<div class="register-container">
    <div class="form-container">
        <h2>Create an account</h2>
        <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
            <input type="text" formControlName="name" placeholder="Full name">
            <input type="email" formControlName="email" placeholder="Email">
            <input type="password" formControlName="password" placeholder="Password">
            <button type="submit">Sign up</button>
            <p>Or sign in with:</p>
            <div class="social-icons">
                <a href="https://www.google.com"><img src="./../../assets/google-icon.png" alt="Google"></a>
                <a href="https://www.facebook.com"><img src="./../../assets/facebook-icon.png" alt="Facebook"></a>
                <a href="https://www.instagram.com"><img src="./../../assets/instagram-icon.png" alt="Instagram"></a>
            </div>
        </form>
    </div>
    <div class="image-container">
        <img src="./../../assets/register-image.png" alt="Registration">
    </div>
</div>